.vscode/settings.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/farmer-core.sln
build/farmer.vcxproj
build/farmer.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-a80aad5ee59087aedfe5.json
build/.cmake/api/v1/reply/codemodel-v2-3bf7d9bc29c833f0624d.json
build/.cmake/api/v1/reply/index-2020-08-28T22-31-20-0901.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-d965aca1365b7acf0ff5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-d965aca1365b7acf0ff5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-d965aca1365b7acf0ff5.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-d965aca1365b7acf0ff5.json
build/.cmake/api/v1/reply/target-farmer-Debug-0a02c12ca70c87be2485.json
build/.cmake/api/v1/reply/target-farmer-MinSizeRel-fd5a2d67bfdc69eab10d.json
build/.cmake/api/v1/reply/target-farmer-Release-4f7e3a51928bbbc91dc1.json
build/.cmake/api/v1/reply/target-farmer-RelWithDebInfo-63cdd80e98c51768a221.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-abf98e0a9fc8ae4de1b8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-abf98e0a9fc8ae4de1b8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-abf98e0a9fc8ae4de1b8.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-abf98e0a9fc8ae4de1b8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/0ba52fc2567089c879c0d36ddfd5d27c/generate.stamp.rule
build/CMakeFiles/3.17.3/CMakeCCompiler.cmake
build/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
build/CMakeFiles/3.17.3/CMakeSystem.cmake
build/CMakeFiles/3.17.3/VCTargetsPath.txt
build/CMakeFiles/3.17.3/VCTargetsPath.vcxproj
build/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.3/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.17.3/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.17.3/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.17.3/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.17.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.17.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/Debug/farmer.exe
build/Debug/farmer.ilk
build/Debug/farmer.pdb
build/farmer.dir/Debug/main.obj
build/farmer.dir/Debug/vc142.pdb
build/farmer.dir/Debug/farmer.tlog/CL.command.1.tlog
build/farmer.dir/Debug/farmer.tlog/CL.read.1.tlog
build/farmer.dir/Debug/farmer.tlog/CL.write.1.tlog
build/farmer.dir/Debug/farmer.tlog/CustomBuild.command.1.tlog
build/farmer.dir/Debug/farmer.tlog/CustomBuild.read.1.tlog
build/farmer.dir/Debug/farmer.tlog/CustomBuild.write.1.tlog
build/farmer.dir/Debug/farmer.tlog/farmer.lastbuildstate
build/farmer.dir/Debug/farmer.tlog/link.command.1.tlog
build/farmer.dir/Debug/farmer.tlog/link.read.1.tlog
build/farmer.dir/Debug/farmer.tlog/link.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
